@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.inter800 {
  font-family: "Inter", sans-serif;

  font-weight: 800;
}

.inter400 {
  font-family: "Inter", sans-serif;

  font-weight: 400;
}

.hover:hover {
  background-color: #00001a;
  color: white;
}

.nav:hover {
  color: #f15d51;
}
